# Datastructures

## The builtins data structures are: lists, tuples, sets and dictionaries

* Lists, tuples and sets are ordered sequences of objects. (like strings)
* List and tuples can contain any type of objects. 
* Lists and tuples are like arrays. 
* Tuples are immutables whereas lists are mutables so they can be extended or reduced at will. 
* Sets are mutable unordered sequence of unique elements whereas frozensets are immutable sets.

# LIST

You can define an empty list by using two enclosing square brackets `[]`. Just like array in other programming language. Or you can use `list()` method without any arguments and assign it to a variable.

In [1]:
# defining a empty list

my_list_1 = []
my_list_2 = list()

print(len(my_list_1), len(my_list_2), type(my_list_1), sep=" | ")

0 | 0 | <class 'list'>

In [2]:
l = list()
l.append(123)
print(l)

[123]

List is like an array but unlike other programming languages, list can contain any type of objects.

In [3]:
any_obj_list = ["Hello", 1, True, [5.0, 5/2], None]
print(any_obj_list)

['Hello', 1, True, [5.0, 2.5], None]

In [4]:
# This is a list of Strings
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print(comp)

['OOP', 'CSA', 'NM', 'MGMT', 'OS']

In [5]:
# len() gives how many values are there inside a list
print(len(comp))

5

In [6]:
# Accessing by index
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print(comp[len(comp)-1])

OS

In [7]:
# Last value is accessed by -1
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print(comp[-1])
print(comp[-5])

OS
OOP

In [8]:
# IndexError exception while trying to access index that doesn't exist
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print(comp[20])

IndexError: list index out of range

## Slicing

In [9]:
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print(comp[0:2])
print(comp[:])
print(comp[:2])
print(comp[2:])

['OOP', 'CSA']
['OOP', 'CSA', 'NM', 'MGMT', 'OS']
['OOP', 'CSA']
['NM', 'MGMT', 'OS']

In [10]:
# Slicing can be done in string as well because string is also squence of characters.
a = "Hello"
a[0:3]

'Hel'

In [23]:
# Let's look at all the possible slicing and pay high attention to the output
a = list(range(10))
print(a)
print(a[2])
print(a[-2])
print(a[2:])
print(a[:2])
print(a[2:6])
print(a[2:-2])
print(a[-6:-2])
print(a[:])
print(a[::2])
print(a[2::2])
print(a[:6:2])
print(a[2:6:2])
print(a[::-2])
print(a[::-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
2
8
[2, 3, 4, 5, 6, 7, 8, 9]
[0, 1]
[2, 3, 4, 5]
[2, 3, 4, 5, 6, 7]
[4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[2, 4, 6, 8]
[0, 2, 4]
[2, 4]
[9, 7, 5, 3, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [26]:
print(a[9:2:-1])

[9, 8, 7, 6, 5, 4, 3]

# List methods
Everyting in Python is an object and List is also definately an object. Hence, in OOP concept, object are likely to have a methods (behaviour)

In [12]:
a = []
type(a)

list

In [13]:
# index(arg) method is used to find the index of an element in the list
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print(comp.index("NM"))

# Throws ValueError if not in list
print(comp.index("XYZ"))

2

ValueError: 'XYZ' is not in list

In [14]:
"""
append(arg) method is used to add element in the list. 
While adding a new element using append method, the newly 
added element is added at the end of the list.
Adding an element in a list
""" 
print(comp)
comp.append("Python")
comp.append("English")
print(comp)

['OOP', 'CSA', 'NM', 'MGMT', 'OS']
['OOP', 'CSA', 'NM', 'MGMT', 'OS', 'Python', 'English']

In [15]:
"""
insert() method is used to insert an element in a particular index of the list.
"""
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print(comp)

comp.insert(20, "Python") # even if you add element in larger index, it'll always be added at the end the list
comp.insert(0, "English") 

print(comp)
print(comp.index("Python"))

['OOP', 'CSA', 'NM', 'MGMT', 'OS']
['English', 'OOP', 'CSA', 'NM', 'MGMT', 'OS', 'Python']
6

In [16]:
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
extra = ["Python", "English"]
comp.append(extra) # wrong implementation because it'll just add the whole list at the end of the comp list
print(comp)

['OOP', 'CSA', 'NM', 'MGMT', 'OS', ['Python', 'English']]

In [17]:
"""
If you want to merge two list together, you can use extend() method.
"""
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
extra = ["Python", "English"]
comp.extend(extra)
print(comp)

x = [1,2,3]
y = ["a", "b"]
print(x)
x.extend(y)
print(x)

['OOP', 'CSA', 'NM', 'MGMT', 'OS', 'Python', 'English']
[1, 2, 3]
[1, 2, 3, 'a', 'b']

In [18]:
"""
extending a list by using extend method can also be done via the "+" operator.
"""
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
extra = ["Python", "English"]
comp += extra
print(comp)

['OOP', 'CSA', 'NM', 'MGMT', 'OS', 'Python', 'English']

In [19]:
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
comp.remove("OOP")
print(comp)
print(comp.index("CSA"))

['CSA', 'NM', 'MGMT', 'OS']
0


## List as a Stack

In [20]:
"""
List data structure can be used to simulate the stack data structure.
For this, to extract the topmost element in the list, you can use pop() method.
pop() method always returns last value in the list like in stack.
Note: pop() method manipulates the list.
"""
comp = ["OOP", "CSA", "NM", "MGMT", "OS", "XYZ"]
popped = comp.pop(1)
print("Popped : ", popped)
print(comp)
# comp.push() -> comp.append(value)

Popped :  CSA
['OOP', 'NM', 'MGMT', 'OS', 'XYZ']

## Other important methods

In [4]:
x = [5, 6, 7, 8, 9]
x.sort(reverse=True)
print(x)

y = ['a', 'm', 'z', 'b']
y.sort()
print(y)

y1 = [1, 9, 6, 'a', 'z']
#y1.sort() cannot sort different datatype

[9, 8, 7, 6, 5]
['a', 'b', 'm', 'z']

TypeError: '<' not supported between instances of 'str' and 'int'

In [6]:
x = [5, 6, 7, 8, 9]
sorted_x = sorted(x, reverse=True)
print(sorted_x)
print(x)

[9, 8, 7, 6, 5]
[5, 6, 7, 8, 9]

## Operations

In [8]:
max(x)
sum(x)

35

In [13]:
min('HelloWorld')

'H'

In [16]:
# Check whether an element is in the list or not
print(x)
print(7 in x)

[5, 6, 7, 8, 9]
True

## Looping over a List

In [18]:
for numbers in x:
    print(numbers, end= '\t')

5	6	7	8	9

In [19]:
for index, numbers in enumerate(x):
    print(index, numbers)

0 5
1 6
2 7
3 8
4 9

In [23]:
for index, numbers in enumerate(x, start=100):
    print(index, numbers)

100 5
101 6
102 7
103 8
104 9

## Joining elements in a list

In [3]:
computer = ['OOP', 'CSA', 'NM', 'CS', 'MGMT', 'OS']

In [4]:
# You can olny join list of Strings
print("+".join(computer))
j_computer = "+".join(computer)
print(j_computer)

OOP+CSA+NM+CS+MGMT+OS
OOP+CSA+NM+CS+MGMT+OS

In [5]:
j_computer.split('+')
a = 'this is wonderful'
a.split(' ')

['this', 'is', 'wonderful']

## Lists are mutable

In [33]:
computer[0]= 'ENG'
print(computer)

['ENG', 'CSA', 'NM', 'CS', 'MGMT', 'OS']

In [37]:
list1= [1, 'a', True]
list2= list1
list1 is list2
list2[0]= 2
print(list1)

[2, 'a', True]

## Multidimension List

In [38]:
n_list= [
    [1, 2, 3],
    [4, 5, 6]
]
print(n_list)

[[1, 2, 3], [4, 5, 6]]

## How many?

In [40]:
x = [1, 2, 1, 4, 7, 1, 5, 9, 9, 7]
x.count(-11)

0

In [44]:
a = 'a'*5
a
x*2

[1, 2, 1, 4, 7, 1, 5, 9, 9, 7, 1, 2, 1, 4, 7, 1, 5, 9, 9, 7]

# Tuple

Tuple is very similar to the list data structure but, tuples are immutable. [Can't be changed]

In [6]:
# Empty tuple
tuple1 = ()
print(type(tuple1))
tuple2 = tuple()
print(type(tuple2))
tuple3 = 3,4,5
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [5]:
tup = (1, 2, 3)
tup2 = 1, 2, 3, 4, 5
print(tup2)
print(type(tup2))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [56]:
print(tup2[4])

5

In [ ]:
 # Just like List, index out ot bound expection is thrown if tried to access index that is out of bound

In [57]:
# Just like list, tuple is iterable and you can loop over it
for elements in tup2:
    print(elements)

1
2
3
4
5

In [59]:
for index,elements in enumerate(tup2, start=100):
    print(index,elements)

100 1
101 2
102 3
103 4
104 5

In [60]:
tup= ('a', 'b', 'c', 'd')

In [61]:
for index, element in enumerate(tup, start=50):
    print(index,element)

50 a
51 b
52 c
53 d

In [64]:
tup_single = ('a',)

In [65]:
type(tup_single)

tuple

In [69]:
tup= tup + (5,)

In [70]:
tup

('a', 'b', 'c', 'd', 5)

In [75]:
tup_merge= (6, 7)
tup_merge + tup

(6, 7, 'a', 'b', 'c', 'd', 5)

## Value unpacking

In [76]:
a, b, c = (1, 2, 3)
print(a)
print(b)
print(c)

1
2
3

In [81]:
a, b, c = range(3)
print(a)

0

In [ ]:
# This results in error because 4 values are being unpacked to 3 variables

In [82]:
# Swapping two values
a = 3
b = 7
a, b = (b, a)
print(a)
print(b)

7
3

## Type conversion

In [86]:
a = (1, 2, 3)
str_a = str(a)
print(type(str_a))

<class 'str'>

In [87]:
a = (1, 2, 3)
list_a = list(a)
print(type(list_a))

<class 'list'>

# Sets

In [1]:
set_1 = {'a', 'e', '1', 'o', 'u'}
set_2 = {'a', 'b', 'c', 'd', 'e', 'f'}

In [2]:
set_1.intersection(set_2)

{'a', 'e'}

In [3]:
set_1.union(set_2)

{'1', 'a', 'b', 'c', 'd', 'e', 'f', 'o', 'u'}

In [6]:
set_1.difference(set_2)

{'1', 'o', 'u'}

In [7]:
sub_1 = {'a', 'e'}
set_1.issuperset(sub_1)

True

In [9]:
sub_1.issubset(set_1)

True

In [11]:
set_1.clear()
set_1

set()

In [15]:
set_3 = {('a', 'b', 'c')}
set_3

{('a', 'b', 'c')}

In [18]:
set_4 = {'a', 'b', 'a'}
set_4

{'a', 'b'}

In [20]:
set_5 = {'1', 2, 'a', ('a', 'b')}
set_5

{('a', 'b'), '1', 2, 'a'}

In [21]:
print(len(set_5))

4

In [23]:
test = "Hello my name is 1111"

In [28]:
set_6 = set(test.split(" "))
set_6

{'1111', 'Hello', 'is', 'my', 'name'}

In [29]:
test2 = "Hello i am 1111"

In [30]:
set_7 = set (test2.split(" "))
set_7

{'1111', 'Hello', 'am', 'i'}

In [31]:
set_6.issuperset(set_7)

False

In [32]:
set_6.issubset(set_7)

False

In [33]:
set_6.union(set_7)

{'1111', 'Hello', 'am', 'i', 'is', 'my', 'name'}

In [34]:
set_6.intersection(set_7)

{'1111', 'Hello'}

In [35]:
set_6.difference(set_7)

{'is', 'my', 'name'}

## Set methods